<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890747937953-l47div0utvsqv3dohdlsqhr9vv45fdsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890747937953-l47div0utvsqv3dohdlsqhr9vv45fdsn</string>
	<key>API_KEY</key>
	<string>AIzaSyDoC38uMKY3ymA94mKjHDoETPj47sq6jco</string>
	<key>GCM_SENDER_ID</key>
	<string>890747937953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytodolist</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-6e068</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-6e068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890747937953:ios:cc5a3714fb0f6e116e7ce0</string>
</dict>
</plist>